{% extends 'base.html' %}

{% block title %}Home{% endblock title %}


{% block Home %}active{% endblock Home %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'home/style.css' %}" />

{% endblock css %}


{% block body %}

<div class='container bg-secondary mt-3 py-5 ps-5 jumbotron'>
    <h1 class='py-1'>Welcome to Coders</h1>
    <p class='py-1'>Here you can get Code and look for a master to teach you code.Along with these perks you
        can make blogs if you are an expierenced programmer.</p>
    <hr class='mx-auto'>
    <p class='py-1'>
        Click the buttons that serves your purposes.
    </p>
    <a class='pt-5' href="/blog/blogHome">
        <button class='btn btn-primary'> Go to Blogs</button>
    </a>
</div>

    <div class="container p-0 mt-5">
    <h2 class="text-center mt-4">Popular Blogs</h2>
    <hr class="mb-5 mx-auto w-25">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0">Featured post</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
      </div>
    </div>
{% endblock body %}