{% extends 'base.html' %}
{% load humanize %}
{% load extras %}
{% load bleach_tags %}

{% block title %}BlogPost{% endblock title %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'home/style.css' %}">
{% endblock css %}

{% block body %}
<div class="container">
  <article class="blog-post">
    <h2 class="blog-post-title">{{post.title}}</h2>
    <p class="blog-post-meta">{{post.timestamp}}&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">By: {{post.author}}</a></p>

    <p>{{content|safe}}</p>
  </article>
</div>
<div class="container">
  <h2>Comments ({{comments|length}})</h2>
  <form action="/blog/postComment/" method="post" class="row">
    {% csrf_token %}
    <textarea name="comment" cols="30" rows="1" style="resize:none" placeholder="Enter your Comment here"
      class="form-control my-3 border-top-0 border-end-0 border-start-0 border-primary"></textarea>
    <input type="hidden" value="{{post.id}}" name="postId">
    <div class="">
      {% if user.is_authenticated %}

      <input type="submit" class="btn btn-primary float-end" value="Post">

      {% else %}

      <div class="container-fluid text-center">
        <p class="my-4">Login/Singup to continue</p>
        <button type="button" class="btn btn-success mb-4 " data-bs-toggle="modal" data-bs-target="#logInModal">
          LogIn
        </button>
        <button type="button" class="btn btn-success mb-4 ms-4" data-bs-toggle="modal" data-bs-target="#signupModal">
          SignUp
        </button>

        {% endif %}
      </div>
  </form>


  {% for comment in comments %}

  <div class="row">
    <div class="col-1">
      {% load static %}
      <img src="{% static 'user.png' %}" class="rounded mx-auto d-block w-75 my-2" alt="user">

    </div>
    <div class="col-11">

      <p class="mb-2"><b>{{comment.user|title}}</b> <span class="badge bg-secondary">
          {{comment.timestamp|naturaltime}}</span></p>
      <p class="need-border"><div class="comment-wrap">{{comment.comment}}</div></p>

      <p>
        <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="collapse"
          data-bs-target="#replybox{{comment.sno}}" aria-expanded="false" aria-controls="replybox{{comment.sno}}">
          Reply
        </button>
        <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="collapse"
          data-bs-target="#Replies{{comment.sno}}" aria-expanded="false" aria-controls="Replies">See Replies</button>
      </p>

      <!--Multi-Collpse in replies -->
      <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" id="replybox{{comment.sno}}">
            <div class="card card-body">

              <form action="/blog/postComment/" method="post" class="row">
                {% csrf_token %}
                <input type="hidden" name="parentSno" value="{{comment.sno}}">
                <input type="hidden" name="postId" value="{{post.id}}">
                <div class="row ps-0">
                  <div class="col-10">
                    <textarea name="comment" cols="30" rows="1" style="resize:none"
                      placeholder="Enter your Comment here"
                      class="form-control my-0 me-4 border-top-0 border-end-0 border-start-0 border-primary"></textarea>
                  </div>
                  <div class="col-2">
                    <input type="submit" class="btn btn-primary btn-sm mt-2 float-start" value="Add Reply">
                  </div>
                </div>
              </form>
            </div>
          </div>


          <div class="collapse multi-collapse" id="Replies{{comment.sno}}">
            <div class="card card-body">

              {% for reply in repDict|get_val:comment.sno %}
              <div class="row">
                <div class="col-1">
                  <img src="{% static 'user.png' %}" class="rounded mx-auto d-block w-75 my-2" alt="user">
                </div>
                <div class="col-11">
                  <p><b>{{reply.user|title}}</b> <span class="badge bg-secondary">
                      {{reply.timestamp|naturaltime}}</span></p>
                  <p class="need-border"><div class="comment-wrap me-4">{{reply.comment}}</div></p>
                  <br>
                </div>
              </div>
              {% empty %}
              <b>No replies.</b>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <!-- multi-collapse ends here -->



    </div>
  </div>

  {% endfor %}

  {% endblock body %}