{% extends 'base.html' %}

{% block title %}Blog-Home{% endblock title %}


{% block Blog %}active{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'home/style.css' %}">
{% endblock css %}


{% block body %}
  <div class="container p-0 mt-5">
    <h2 class="text-center mt-4">Coding Articles By Coders</h2>
    <hr class="mb-5 mx-auto w-50">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0">{{post.title}}</h3>
          <div class="mb-1 text-muted">{{Post.timestamp}}</div>
          <p class="card-text mb-auto">{{post.content}}</p>
          <div>
            <a href="blog/" role="button" class="btn btn-primary my-3">Continue reading</a>
          </div>
        </div>
      </div>
    </div>

{% endblock body %}