{% extends 'base.html' %}

{% block title %}Blog-Home{% endblock title %}


{% block Blog %}active{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'home/style.css' %}">
{% endblock css %}


{% block body %}
{% load bleach_tags %}
<div class="container p-0 mt-5">
  <h2 class="text-center mt-4">Coding Articles By Coders</h2>
  <hr class="mb-5 mx-auto w-50">
  {% for post in allPosts %}
  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-primary">{{post.author}}</strong>
      <h3 class="mb-0"><a href="{{post.slug}}" class="text-dark">{{post.title}}</a></h3>
      <div class="mb-1 text-muted">{{Post.timestamp}}</div>
      <div class="card-text mb-auto preview mt-1">{{post.content|bleach:"h1,h2,h3,h4,h5,h6,p,br,span"|truncatechars:200}}</div>
      <div>
        <a href="{{post.slug}}" role="button" class="btn btn-primary my-3">Continue reading</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock body %}

{% block js %}

{% comment %} // to convert the preview content of the blog post to usual text ignoring html tags
//let previews = document.getElementsByClassName('preview')
// array.from will convert previews into an array
// Array.from(previews).forEach(element) =>{
//  element.innerHTMl = element.innerText;
} {% endcomment %}

{% endblock js %}