{% extends 'base.html' %}
{% load humanize %}

{% block title %}BlogPost{% endblock title %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'home/style.css' %}">
{% endblock css %}

{% block body %}
<div class="container">
  <article class="blog-post">
    <h2 class="blog-post-title">{{post.title}}</h2>
    <p class="blog-post-meta">{{post.timestamp}}&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">By: {{post.author}}</a></p>

    <p>{{post.content}}</p>
  </article>
</div>
<div class="container">
  <h2>Comments ({{comments|length}})</h2>
    <form action="/blog/postComment/" method="post" class="row">
      {% csrf_token %}
      <textarea name="comment" cols="30" rows="2" style="resize:none" placeholder="Enter your Comment here" class="form-control my-3"></textarea>
      <input type="hidden" value="{{post.id}}" name="postId">
      <div class="">
      {% if user.is_authenticated %}
      
        <input type="submit" class="btn btn-primary float-end" value="Post">

      {% else %}

      <div class="container-fluid text-center">
      <p class="my-4">Login/Singup to continue</p>
          <button type="button" class="btn btn-success mb-4 " data-bs-toggle="modal" data-bs-target="#logInModal">
            LogIn
          </button>
          <button type="button" class="btn btn-success mb-4 ms-4" data-bs-toggle="modal" data-bs-target="#signupModal">
            SignUp
          </button>
      
      {% endif %}
        </div>
    </form>


  {% for comment in comments %}

  <div class="row">
    <div class="col-1">
      {% load static %}
      <img src="{% static 'user.png' %}" class="rounded mx-auto d-block w-75 my-2" alt="user">

    </div>
    <div class="col-11">
      
        <p class="mb-2"><b>{{comment.user|title}}</b> <span class="badge bg-secondary"> {{comment.timestamp|naturaltime}}</span></p>
      <div class="" style="max-width:500px">
        <p class="mb-5"><span>{{comment.comment}}</span></p>
      </div>
    </div>
  </div>

  {% endfor %}
</div>

{% endblock body %}